{% extends '@LocalAccommodation/base.html.twig' %}
{% block body %}
<h1 class="text-2xl font-bold mb-6">Laundry</h1>
<table class="min-w-full table-auto bg-white">
    <thead><tr><th>Item</th><th>Delivered At</th><th>Received At</th></tr></thead>
    <tbody>
    {% for laundry in laundry %}
        <tr>
            <td>{{ laundry.item }}</td>
            <td>{{ laundry.deliveredAt|date('Y-m-d H:i') }}</td>
            <td>{{ laundry.receivedAt ? laundry.receivedAt|date('Y-m-d H:i') : '-' }}</td>
        </tr>
    {% else %}
        <tr><td colspan="3">No laundry records found.</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
